{% extends 'base.html.twig' %}
{% block title %}Страница Артек{% endblock %}

{% block body %}
    Привет в Артек
    <div>
        <center>
        {{ form_start(formartec) }}
        {{ form_widget(formartec) }}
        {{ form_end(formartec) }}
        </center>
    </div>


{% endblock %}